

.add-client-btn{
    position: absolute;
    bottom: 20px;
    button {
        margin: 10px;
    }
}

.update-client-btn{
    position: absolute;
    bottom: 20px;
    button {
        margin: 10px;
    }
}