

.client-btn{
    button {
        margin: 40px 10px 0px 0px;
    }
}


.client-image{
    padding: 20px 0px 15px 0px;
}

.form-client{
    label{
        margin-top: 20px;
    }
}

.right-panel{
    margin-top: 50px;
}