// @import "resource_manager\node_modules\office-ui-fabric-react\dist\sass\Fabric.scss";

.new-client{
    background-color: white !important;
    padding-bottom: 5px;

    &--col-1{
        float: left;
        h2{
            position: relative;
            bottom: 5px;
        }
    }

    &--parent-col{
        float: right !important;
    }

    &--col-2{
        p{
            font-size: 12px;
        }
    }

    &--col-3{
        float: right !important;
        button{
            position: relative;
            bottom: 5px;
            
        }
    }
}