@import "@fluentui/react/dist/sass/References";


/*New Client bar*/
.new-client{
    position: relative;
    }
    
    .new-client-btn{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    }
    