@import "@fluentui/react/dist/sass/References/";

.title{
    background-color: #2a8ad4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    img{
        height: 30px;
        width: 110px;
    }

    &-left{
        display: flex;

        img{
            margin:10px 4px 10px 10px;
        }

        &-separator{
            font-size: 25px;
            margin: 13px 0px 0px 0px;
            padding: 0px 2px;
        }

        h1{
            white-space:nowrap;
            margin: 10px 10px 10px 0px;
            padding: 0px 10px 0px 0px;
            font-weight: lighter;
        }
    }

    &-settings{
        color: white;
        align-self: center;
        font-size: 17px;

    }

    &-center{
        margin-right: 60px;
    }

    &-right{
        display: flex;
        align-items: center;
        img{
            height: 40px;
            width: 40px;
            margin:5px 6px 5px 15px;
        }
    }
}