@import './title';
@import './new-client';
@import './client-list';
@import './client-card';
@import './form-client';
@import './client-display';

//node_modules\@fluentui\react\dist\sass\variables

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI Web (West European)','Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
  font-weight: 500;
}

// /*Left Column*/
.left-column{
background-color: #343434;
height: 100vh;
position: fixed !important;
width: 14% !important;
}

.left-column-adjust{
  width: 14% !important;
}

// /*right-column*/
.right-column{
  margin-top: 65px;
  background-color: #f8f8f8;
  width: 85.98% !important;
}

.client-search {
  padding: 15px 0px;
  
  &-col{
    float: right !important;
  }
}

