@import './title';
@import './new-client';
@import './client-list';
@import './client-card';
@import './form-client';
@import './client-display';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI Web (West European)','Segoe UI',-apple-system,BlinkMacSystemFont,Roboto,'Helvetica Neue',sans-serif;
  font-weight: 500;
}

// /*Left Column*/
.left-column{
background-color: #343434;
height: 100vh;
position: fixed !important;
}

// /*right-column*/
.right-column{
  margin-top: 70px;
  padding-left: 15px !important;
  background-color: #f8f8f8;
}

.client-search {
  padding: 15px;
}