@import './title';
@import './new-client';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /*Left Column*/
  
  .left-column {
    background-color: #343434;
    height: 100vh;
    width: 15%;
    float: left;
    position: fixed;
    z-index: -10;
  }
  
  .right-column {
    width: 85%;
    height: 100vh;
    float: right;
    margin-top: 70px;
  }

/*right-column*/


.client-search {
  margin: 20px 10px;
  display: inline-block;
}

/*Client List*/
.client-list-alphabet{
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

/*Display Client Data*/
.display-client-data{
  position: absolute;
  right: 0px;
  background-color: white;
  height: 100vh;
}

/**/
